body{
    padding: 0;
    margin: 0;
}
.panels{
    background-color: #4f5350;
    color: white;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
.wrapper{
    position: relative;
    width: 900px;
    margin: 0 auto;
}
main.wrapper{
    margin-top: 40px;
    /*background-color: #EEE;*/
    display: block;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
}
#block-search{
    width: 600px;
    margin: 0 auto;
}
#block-search>h1{
    background-color: #EEE;
    text-align: center;
}