<div class="wrapper">
    <div style="width: 150px; height: 35px;color: orange;background: #8fbc8f;">Место под лого</div>
    <div style="width: 210px;position: absolute;right: 0;top: 0;"><script src="//ulogin.ru/js/ulogin.js"></script><div id="uLogin2" data-uloginid="c3e84a0b"></div></div>
</div>